/* Importar la fuente Quicksand desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Reset de estilos para evitar problemas de layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Configuraciones generales del documento HTML */
html {
  font-size: 62.8%; /* Tamaño base de fuente para facilitar el cálculo */
}

/* Estilos generales del cuerpo de la página */
body {
  font-size: 1.8rem; /* Tamaño de fuente base */
  font-family: "Quicksand", sans-serif; /* Cambia la fuente para toda la página */
  background-color: hsl(0, 0%, 0%); /* Color de fondo */
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  margin-bottom: 100px; /* Margen inferior */
}

/* Estilos del encabezado */
.header {
  width: 100%; /* Ancho completo */
  max-width: 1300px; /* Ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
  display: flex; /* Mostrar en línea */
  flex-direction: column; /* Dirección de apilamiento vertical */
}

/* Estilos de la barra de navegación */
.nav {
  width: 90%; /* Ancho del 90% del contenedor */
  height: 100px; /* Altura fija */
  margin: 0 auto; /* Centrar horizontalmente */
  display: flex; /* Mostrar en línea */
  justify-content: space-between; /* Distribuir elementos uniformemente */
  align-items: center; /* Alinear verticalmente */
  padding: 10px; /* Espaciado interno */
}

/* Estilos del logo en la barra de navegación */
.logo {
  width: 130px; /* Ancho de la imagen del logo */
  height: 130px; /* Altura de la imagen del logo */
  position: absolute; /* Establece posicionamiento absoluto */
  left: 330px; /* Ajusta la distancia desde el borde izquierdo */
  top: -5px; /* Ajusta la distancia desde la parte superior */
}

/* Estilos de la sección de héroe */
.hero {
  width: 100%; /* Ancho completo */
  display: flex; /* Mostrar en línea */
  align-items: flex-start; /* Alineación a la izquierda */
  gap: 6rem; /* Espacio entre elementos */
  padding: 3rem; /* Relleno interno */
}

@media (min-width: 920px) {
  /* Cambios en el diseño del héroe para pantallas grandes */
  .hero {
    flex-direction: row-reverse; /* Cambia la dirección de apilamiento */
    margin-top: 10px; /* Agrega un margen superior para separar el héroe de la barra de navegación */
  }
}

.hero__illustration .hero-img {
  width: 90%; /* Ancho completo */
  max-width: 600px; /* Ancho máximo */
  border-radius: 8px; /* Borde redondeado */
}

.hero__info .hero__title {
  font-size: 5rem; /* Tamaño de fuente */
  color: hsl(0, 0%, 100%); /* Color de texto */
}

.hero__info .cta {
  background-color: hsl(0, 100%, 50%); /* Color de fondo */
  margin-top:30px; /* Ajusta este valor según sea necesario */
  font-size: 2.4rem; /* Tamaño de fuente para el texto */
  color: #fff; /* Color de texto */
  border-radius: 30px; /* Radio de borde */
  width: 250px; /* Ancho */
  height: 50px; /* Altura */
  border: none; /* Sin borde */
  display: flex; /* Mostrar en línea */
  align-items: center; /* Alinear verticalmente */
  justify-content: center; /* Alinear horizontalmente */
  gap: 5px; /* Espacio entre elementos */
  font-family: "Quicksand", sans-serif; /* Fuente */
  font-weight: 700; /* Grosor de fuente */
  opacity: 0.9; /* Opacidad */
  cursor: pointer; /* Cambiar el cursor */
}

.hero__info .cta span {
  font-size: 2.5rem; /* Tamaño de fuente para la flecha */
  margin-top: -5px; /* Ajusta este valor según sea necesario */
}

/* Estilos de los botones en la barra de navegación */
.nav .home,
.nav .menu,
.nav .cart {
  background-color: transparent; /* Fondo transparente */
  color: #ffffff; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno interno */
  font-size: 2.1rem; /* Tamaño de fuente */
  font-weight: bold; /* Grosor de fuente */
  margin-right: 0px; /* Margen derecho */
  font-family: "Quicksand", sans-serif; /* Fuente */
}

/* Ajuste de márgenes para separar los botones */
.nav .home {
  margin-right: 0px; /* Ajusta el margen derecho del botón de "Inicio" */
}

.nav .menu {
  margin-right: 0; /* Elimina el margen derecho del botón de "Menú" */
}

.nav .cart {
  margin-right: 0;
}

/* Efecto de brillo al pasar el cursor sobre los botones */
.nav .home:hover,
.nav .menu:hover,
.nav .cart:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo con transparencia */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Sombra para el efecto de brillo */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para los círculos con imágenes */
.circle-section {
  display: flex;
  justify-content: space-between; /* Cambia a espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin-top:125px;
  height:300px; /* Altura definida para el contenedor de los círculos */
  margin-left: 500px; /* Margen izquierdo para mover los círculos hacia la derecha */
  margin-right: 540px; /* Margen derecho para mover los círculos hacia la izquierda */
}
.circle {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente los elementos dentro del círculo */
}

.circle img {
  border-radius: 50%; /* Para hacer la imagen circular */
  width: 280px; /* Ajusta el tamaño según sea necesario */
  height: 280px; /* Ajusta el tamaño según sea necesario */
}

/* Estilos para los botones debajo de los círculos */
.circle-buttons {
  margin-top: 5px;
}



.circle-buttons button:hover,
.circle-buttons a:hover {
  background-color: hsl(0, 100%, 60%); /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 25px; /* Hacemos los bordes más redondeados */
  transform: scale(1.05); /* Ajustamos la escala del botón al 105% */
}

/* Estilos para el texto debajo de las imágenes */
.circle p {
  color: #fff; /* Color de texto blanco */
  margin-top: 15px; /* Espacio superior */
  font-size: 1.9rem; /* Tamaño de fuente */
  text-align: center; /* Alineación centrada */
  font-weight: bold; /* Grosor de fuente */
}


.hero__info .cta:hover {
  background-color: hsl(0, 100%, 60%); /* Cambia el color de fondo al pasar el cursor */
}

.circle-buttons button:hover {
  background-color: hsl(0, 100%, 60%); /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para los botones en el estado normal */
.nav button,
.circle-buttons button,
.hero__info .cta {
  transition: background-color 0.9s ease, box-shadow 0.9s ease, transform 1.3s ease; /* Agregamos la transición en el estado normal */
}

/* Estilos para el efecto de levantamiento al pasar el cursor sobre los botones */
.nav button:hover,
.circle-buttons button:hover,
.hero__info .cta:hover {
  background-color: hsl(0, 100%, 50%); /* Mantenemos el color de fondo original */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 25px; /* Hacemos los bordes más redondeados */
  transform: scale(1.05); /* Ajustamos la escala del botón al 105% */
}

.circle-buttons button,
.circle-buttons a {
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: hsl(0, 100%, 50%);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Añadimos la transición */
  font-family: "Quicksand", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  text-decoration: none;
}

.hero__info .cta:hover {
  background-color: hsl(0, 100%, 60%); /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para el efecto de levantamiento al pasar el cursor sobre los botones */
.hero__info .cta {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Agregamos la transición en el estado normal */
}

.hero__info .cta:hover {
  background-color: hsl(0, 100%, 50%); /* Mantenemos el color de fondo original */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 25px; /* Hacemos los bordes más redondeados */
  transform: scale(1.05); /* Ajustamos la escala del botón al 105% */
}

/* Estilos para los enlaces */
a {
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilos específicos para los enlaces dentro de la barra de navegación */
.nav a {
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilos específicos para los enlaces dentro de la sección de héroe */
.hero__info a {
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilos específicos para los enlaces dentro de los círculos con imágenes */
.circle-buttons a {
  text-decoration: none; /* Elimina el subrayado */
}

